body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #FFEEF0, #FFD3E3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    width: 80%;
    max-width: 800px;
    padding: 30px;
    border-radius